/* 1. 스타일 우선순위 정의 */
@layer tw-theme, vapor, tw-utilities;
@import "@vapor-ui/core/tailwind.css";
/* 2. Tailwind CSS 연결 */
@import "tailwindcss/theme.css" layer(tw-theme);
@import "tailwindcss/utilities.css" layer(tw-utilities);
@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100dvh;
  }

  html {
    font-family: "Pretendard";
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }

  body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgba(247, 247, 247, 1);
  }

  #root {
    width: 375px;
    height: 100dvh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #ffffff;
  }
}

:root,
[data-vapor-theme="light"] {
  --vapor-color-canvas: #fdfdfd;
  --vapor-color-red-100: #ffd7d0;
  --vapor-color-red-200: #ffb1a5;
  --vapor-color-red-300: #fa7d6e;
  --vapor-color-red-400: #f36659;
  --vapor-color-red-500: #de312e;
  --vapor-color-red-600: #bd000b;
  --vapor-color-red-700: #9d0000;
  --vapor-color-red-800: #780000;
  --vapor-color-red-900: #530000;
  --vapor-color-red-050: #fff3f0;
  --vapor-color-pink-100: #ffd6da;
  --vapor-color-pink-200: #fcb0b8;
  --vapor-color-pink-300: #f47e8f;
  --vapor-color-pink-400: #ee677e;
  --vapor-color-pink-500: #d33d5c;
  --vapor-color-pink-600: #b51841;
  --vapor-color-pink-700: #9b002c;
  --vapor-color-pink-800: #780011;
  --vapor-color-pink-900: #530000;
  --vapor-color-pink-050: #fff2f3;
  --vapor-color-grape-100: #ffd1ff;
  --vapor-color-grape-200: #ffa6ff;
  --vapor-color-grape-300: #e27ce6;
  --vapor-color-grape-400: #d46ad9;
  --vapor-color-grape-500: #b447bd;
  --vapor-color-grape-600: #9829a1;
  --vapor-color-grape-700: #850b8d;
  --vapor-color-grape-800: #66006f;
  --vapor-color-grape-900: #460050;
  --vapor-color-grape-050: #ffefff;
  --vapor-color-violet-100: #e2dcff;
  --vapor-color-violet-200: #cabcff;
  --vapor-color-violet-300: #a993fa;
  --vapor-color-violet-400: #9982f3;
  --vapor-color-violet-500: #7860e4;
  --vapor-color-violet-600: #6043cc;
  --vapor-color-violet-700: #512eb8;
  --vapor-color-violet-800: #410ea0;
  --vapor-color-violet-900: #29007a;
  --vapor-color-violet-050: #f5f3ff;
  --vapor-color-blue-100: #cde0ff;
  --vapor-color-blue-200: #a3c6ff;
  --vapor-color-blue-300: #6da2fe;
  --vapor-color-blue-400: #5e92f3;
  --vapor-color-blue-500: #4270dc;
  --vapor-color-blue-600: #2d54c4;
  --vapor-color-blue-700: #1d41af;
  --vapor-color-blue-800: #0e2998;
  --vapor-color-blue-900: #040c81;
  --vapor-color-blue-050: #eff5ff;
  --vapor-color-cyan-100: #c7e5ee;
  --vapor-color-cyan-200: #92cede;
  --vapor-color-cyan-300: #41afca;
  --vapor-color-cyan-400: #26a1bd;
  --vapor-color-cyan-500: #107f9d;
  --vapor-color-cyan-600: #006582;
  --vapor-color-cyan-700: #00516e;
  --vapor-color-cyan-800: #003c58;
  --vapor-color-cyan-900: #002742;
  --vapor-color-cyan-050: #edf7f9;
  --vapor-color-green-100: #c9e7d6;
  --vapor-color-green-200: #98d1b2;
  --vapor-color-green-300: #6eb08e;
  --vapor-color-green-400: #60a080;
  --vapor-color-green-500: #448163;
  --vapor-color-green-600: #2a674b;
  --vapor-color-green-700: #15563b;
  --vapor-color-green-800: #004127;
  --vapor-color-green-900: #002c14;
  --vapor-color-green-050: #eef7f2;
  --vapor-color-lime-100: #d7e5b9;
  --vapor-color-lime-200: #b7ce7d;
  --vapor-color-lime-300: #91ad3f;
  --vapor-color-lime-400: #829e31;
  --vapor-color-lime-500: #647f0b;
  --vapor-color-lime-600: #4c6600;
  --vapor-color-lime-700: #3b5400;
  --vapor-color-lime-800: #293e00;
  --vapor-color-lime-900: #172a00;
  --vapor-color-lime-050: #f2f7e9;
  --vapor-color-yellow-100: #ffdb8f;
  --vapor-color-yellow-200: #fabb04;
  --vapor-color-yellow-300: #d89500;
  --vapor-color-yellow-400: #c88600;
  --vapor-color-yellow-500: #a76700;
  --vapor-color-yellow-600: #8c4d00;
  --vapor-color-yellow-700: #783b00;
  --vapor-color-yellow-800: #612600;
  --vapor-color-yellow-900: #4b1000;
  --vapor-color-yellow-050: #fff4db;
  --vapor-color-orange-100: #ffd8c2;
  --vapor-color-orange-200: #ffb387;
  --vapor-color-orange-300: #ff7e27;
  --vapor-color-orange-400: #f26b13;
  --vapor-color-orange-500: #d14504;
  --vapor-color-orange-600: #b52000;
  --vapor-color-orange-700: #9c0000;
  --vapor-color-orange-800: #770000;
  --vapor-color-orange-900: #530000;
  --vapor-color-orange-050: #fff3ec;
  --vapor-color-primary-100: #ffd7c4;
  --vapor-color-primary-200: #ffb38f;
  --vapor-color-primary-300: #ff7d3a;
  --vapor-color-primary-400: #ff6a00;
  --vapor-color-primary-500: #d93b00;
  --vapor-color-primary-600: #bc0500;
  --vapor-color-primary-700: #9c0000;
  --vapor-color-primary-800: #770000;
  --vapor-color-primary-900: #530000;
  --vapor-color-primary-050: #fff3ec;
  --vapor-color-gray-100: #e0e0e0;
  --vapor-color-gray-200: #c4c4c4;
  --vapor-color-gray-300: #a2a2a2;
  --vapor-color-gray-400: #939393;
  --vapor-color-gray-500: #757575;
  --vapor-color-gray-600: #5c5c5c;
  --vapor-color-gray-700: #4c4c4c;
  --vapor-color-gray-800: #393939;
  --vapor-color-gray-900: #252525;
  --vapor-color-gray-050: #f5f5f5;
  --vapor-color-background-primary-100: var(--vapor-color-primary-100);
  --vapor-color-background-primary-200: var(--vapor-color-primary-400);
  --vapor-color-border-primary: var(--vapor-color-primary-400);
  --vapor-color-border-normal: var(--vapor-color-gray-100);
  --vapor-color-foreground-primary-100: var(--vapor-color-primary-500);
  --vapor-color-foreground-primary-200: var(--vapor-color-primary-600);
  --vapor-color-background-canvas-100: var(--vapor-color-canvas);
  --vapor-color-background-canvas-200: var(--vapor-color-gray-050);
  --vapor-color-background-overlay-100: var(--vapor-color-canvas);
  --vapor-color-foreground-inverse: var(--vapor-color-black);
}
[data-vapor-theme="dark"] {
  --vapor-color-canvas: #232323;
  --vapor-color-red-100: #750000;
  --vapor-color-red-200: #950000;
  --vapor-color-red-300: #c30213;
  --vapor-color-red-400: #d32223;
  --vapor-color-red-500: #ed554a;
  --vapor-color-red-600: #fd8375;
  --vapor-color-red-700: #ffa89c;
  --vapor-color-red-800: #ffd2cb;
  --vapor-color-red-900: #fff8f7;
  --vapor-color-red-050: #5b0000;
  --vapor-color-pink-100: #74000f;
  --vapor-color-pink-200: #930026;
  --vapor-color-pink-300: #b91e45;
  --vapor-color-pink-400: #c83152;
  --vapor-color-pink-500: #e95472;
  --vapor-color-pink-600: #f58595;
  --vapor-color-pink-700: #fba8b2;
  --vapor-color-pink-800: #ffd2d6;
  --vapor-color-pink-900: #fff8f9;
  --vapor-color-pink-050: #5a0000;
  --vapor-color-grape-100: #62006c;
  --vapor-color-grape-200: #800088;
  --vapor-color-grape-300: #9d2da5;
  --vapor-color-grape-400: #aa3cb3;
  --vapor-color-grape-500: #ca5ed0;
  --vapor-color-grape-600: #e680e9;
  --vapor-color-grape-700: #fe9bfe;
  --vapor-color-grape-800: #ffccff;
  --vapor-color-grape-900: #fff7ff;
  --vapor-color-grape-050: #4b0055;
  --vapor-color-violet-100: #3f089d;
  --vapor-color-violet-200: #4e28b2;
  --vapor-color-violet-300: #6447d0;
  --vapor-color-violet-400: #6f54de;
  --vapor-color-violet-500: #8e77ee;
  --vapor-color-violet-600: #ae98fc;
  --vapor-color-violet-700: #c4b4ff;
  --vapor-color-violet-800: #dfd7ff;
  --vapor-color-violet-900: #faf9ff;
  --vapor-color-violet-050: #2f0083;
  --vapor-color-blue-100: #0c2796;
  --vapor-color-blue-200: #1a3caa;
  --vapor-color-blue-300: #3058c8;
  --vapor-color-blue-400: #3a65d4;
  --vapor-color-blue-500: #5486eb;
  --vapor-color-blue-600: #73a7ff;
  --vapor-color-blue-700: #9ac0ff;
  --vapor-color-blue-800: #c9deff;
  --vapor-color-blue-900: #f6faff;
  --vapor-color-blue-050: #051386;
  --vapor-color-cyan-100: #003a56;
  --vapor-color-cyan-200: #004d6a;
  --vapor-color-cyan-300: #006886;
  --vapor-color-cyan-400: #087593;
  --vapor-color-cyan-500: #1f95b3;
  --vapor-color-cyan-600: #4fb3cc;
  --vapor-color-cyan-700: #86c8db;
  --vapor-color-cyan-800: #c1e2ec;
  --vapor-color-cyan-900: #f5fbfc;
  --vapor-color-cyan-050: #002b47;
  --vapor-color-green-100: #003f25;
  --vapor-color-green-200: #0f5237;
  --vapor-color-green-300: #2e6b4f;
  --vapor-color-green-400: #3b785a;
  --vapor-color-green-500: #569676;
  --vapor-color-green-600: #72b492;
  --vapor-color-green-700: #8cccab;
  --vapor-color-green-800: #c3e4d2;
  --vapor-color-green-900: #f5fbf8;
  --vapor-color-green-050: #003017;
  --vapor-color-lime-100: #273d00;
  --vapor-color-lime-200: #374f00;
  --vapor-color-lime-300: #4f6900;
  --vapor-color-lime-400: #5b7500;
  --vapor-color-lime-500: #789326;
  --vapor-color-lime-600: #95b243;
  --vapor-color-lime-700: #afc86c;
  --vapor-color-lime-800: #d3e2b3;
  --vapor-color-lime-900: #f8faf3;
  --vapor-color-lime-050: #1a2e00;
  --vapor-color-yellow-100: #5f2400;
  --vapor-color-yellow-200: #743700;
  --vapor-color-yellow-300: #8f5100;
  --vapor-color-yellow-400: #9d5d00;
  --vapor-color-yellow-500: #be7b00;
  --vapor-color-yellow-600: #dd9a00;
  --vapor-color-yellow-700: #f4b402;
  --vapor-color-yellow-800: #ffd782;
  --vapor-color-yellow-900: #fff9ee;
  --vapor-color-yellow-050: #4f1400;
  --vapor-color-orange-100: #750000;
  --vapor-color-orange-200: #950000;
  --vapor-color-orange-300: #b92600;
  --vapor-color-orange-400: #c73902;
  --vapor-color-orange-500: #e75e0e;
  --vapor-color-orange-600: #ff8539;
  --vapor-color-orange-700: #ffab7b;
  --vapor-color-orange-800: #ffd4ba;
  --vapor-color-orange-900: #fff8f5;
  --vapor-color-orange-050: #5a0000;
  --vapor-color-primary-100: #740000;
  --vapor-color-primary-200: #950000;
  --vapor-color-primary-300: #c11200;
  --vapor-color-primary-400: #cf2c00;
  --vapor-color-primary-500: #ff6a00;
  --vapor-color-primary-600: #ff8548;
  --vapor-color-primary-700: #ffab82;
  --vapor-color-primary-800: #ffd3be;
  --vapor-color-primary-900: #fff8f5;
  --vapor-color-primary-050: #5a0000;
  --vapor-color-gray-100: #363636;
  --vapor-color-gray-200: #474747;
  --vapor-color-gray-300: #606060;
  --vapor-color-gray-400: #6c6c6c;
  --vapor-color-gray-500: #8a8a8a;
  --vapor-color-gray-600: #a7a7a7;
  --vapor-color-gray-700: #bfbfbf;
  --vapor-color-gray-800: #dcdcdc;
  --vapor-color-gray-900: #f9f9f9;
  --vapor-color-gray-050: #282828;
  --vapor-color-background-primary-100: var(--vapor-color-primary-050);
  --vapor-color-background-primary-200: var(--vapor-color-primary-500);
  --vapor-color-border-primary: var(--vapor-color-primary-500);
  --vapor-color-border-normal: var(--vapor-color-gray-300);
  --vapor-color-foreground-primary-100: var(--vapor-color-primary-600);
  --vapor-color-foreground-primary-200: var(--vapor-color-primary-700);
  --vapor-color-background-canvas-100: var(--vapor-color-canvas);
  --vapor-color-background-canvas-200: var(--vapor-color-gray-050);
  —vapor-color-background-overlay-100: var(—vapor-color-gray-100);
  —vapor-color-foreground-inverse: var(—vapor-color-black);
}
