/* 1. 스타일 우선순위 정의 */
@layer tw-theme, vapor, tw-utilities;
@import "@vapor-ui/core/tailwind.css";
/* 2. Tailwind CSS 연결 */
@import "tailwindcss/theme.css" layer(tw-theme);
@import "tailwindcss/utilities.css" layer(tw-utilities);

/* :root,
[data-vapor-theme="light"] {
  --vapor-color-canvas: #ffd1d1;
  --vapor-color-red-100: #ffabaa;
  --vapor-color-red-200: #fe8687;
  --vapor-color-red-300: #f2515c;
  --vapor-color-red-400: #e2414b;
  --vapor-color-red-500: #bf1929;
  --vapor-color-red-600: #990000;
  --vapor-color-red-700: #780000;
  --vapor-color-red-800: #4e0000;
  --vapor-color-red-900: #0e0000;
  --vapor-color-red-050: #ffc6c4;
  --vapor-color-pink-100: #fea9c0;
  --vapor-color-pink-200: #f985a9;
  --vapor-color-pink-300: #e7578a;
  --vapor-color-pink-400: #d8467c;
  --vapor-color-pink-500: #b91b60;
  --vapor-color-pink-600: #940043;
  --vapor-color-pink-700: #75002c;
  --vapor-color-pink-800: #4d0011;
  --vapor-color-pink-900: #0e0000;
  --vapor-color-pink-050: #ffc6d5;
  --vapor-color-grape-100: #e6aef6;
  --vapor-color-grape-200: #db8bf0;
  --vapor-color-grape-300: #c95ae6;
  --vapor-color-grape-400: #bb4ad7;
  --vapor-color-grape-500: #9d23ba;
  --vapor-color-grape-600: #7e009a;
  --vapor-color-grape-700: #61007c;
  --vapor-color-grape-800: #3c0056;
  --vapor-color-grape-900: #000000;
  --vapor-color-grape-050: #efc7f9;
  --vapor-color-violet-100: #d6b3ff;
  --vapor-color-violet-200: #bc97fb;
  --vapor-color-violet-300: #9873f6;
  --vapor-color-violet-400: #8662f3;
  --vapor-color-violet-500: #6c43d3;
  --vapor-color-violet-600: #5725b7;
  --vapor-color-violet-700: #4801a1;
  --vapor-color-violet-800: #280071;
  --vapor-color-violet-900: #000000;
  --vapor-color-violet-050: #e3ccff;
  --vapor-color-blue-100: #84c9ff;
  --vapor-color-blue-200: #59b0fa;
  --vapor-color-blue-300: #378bee;
  --vapor-color-blue-400: #2d7ae8;
  --vapor-color-blue-500: #0f5bcc;
  --vapor-color-blue-600: #0040af;
  --vapor-color-blue-700: #002a9a;
  --vapor-color-blue-800: #00057f;
  --vapor-color-blue-900: #000000;
  --vapor-color-blue-050: #acdbff;
  --vapor-color-cyan-100: #78cedf;
  --vapor-color-cyan-200: #1fbad2;
  --vapor-color-cyan-300: #0f97b1;
  --vapor-color-cyan-400: #0788a3;
  --vapor-color-cyan-500: #006a83;
  --vapor-color-cyan-600: #005069;
  --vapor-color-cyan-700: #003d55;
  --vapor-color-cyan-800: #00253c;
  --vapor-color-cyan-900: #000215;
  --vapor-color-cyan-050: #a6dee9;
  --vapor-color-green-100: #66d6ae;
  --vapor-color-green-200: #49bd96;
  --vapor-color-green-300: #279c78;
  --vapor-color-green-400: #138d6b;
  --vapor-color-green-500: #006f4f;
  --vapor-color-green-600: #005536;
  --vapor-color-green-700: #004125;
  --vapor-color-green-800: #002910;
  --vapor-color-green-900: #000400;
  --vapor-color-green-050: #9ce3c7;
  --vapor-color-lime-100: #91d430;
  --vapor-color-lime-200: #77bc1d;
  --vapor-color-lime-300: #569b0c;
  --vapor-color-lime-400: #488d03;
  --vapor-color-lime-500: #2b6f00;
  --vapor-color-lime-600: #0d5600;
  --vapor-color-lime-700: #004200;
  --vapor-color-lime-800: #002900;
  --vapor-color-lime-900: #000500;
  --vapor-color-lime-050: #b3e380;
  --vapor-color-yellow-100: #f6b703;
  --vapor-color-yellow-200: #df9d00;
  --vapor-color-yellow-300: #bf7c00;
  --vapor-color-yellow-400: #af6f00;
  --vapor-color-yellow-500: #905200;
  --vapor-color-yellow-600: #753900;
  --vapor-color-yellow-700: #622600;
  --vapor-color-yellow-800: #480c00;
  --vapor-color-yellow-900: #0e0000;
  --vapor-color-yellow-050: #ffce61;
  --vapor-color-orange-100: #fbb08d;
  --vapor-color-orange-200: #f68f5d;
  --vapor-color-orange-300: #e86008;
  --vapor-color-orange-400: #da4f02;
  --vapor-color-orange-500: #bb2600;
  --vapor-color-orange-600: #990000;
  --vapor-color-orange-700: #780000;
  --vapor-color-orange-800: #4e0000;
  --vapor-color-orange-900: #0e0000;
  --vapor-color-orange-050: #fec8b0;
  --vapor-color-gray-100: #c2c2c2;
  --vapor-color-gray-200: #a9a9a9;
  --vapor-color-gray-300: #8a8a8a;
  --vapor-color-gray-400: #7d7d7d;
  --vapor-color-gray-500: #616161;
  --vapor-color-gray-600: #494949;
  --vapor-color-gray-700: #383838;
  --vapor-color-gray-800: #222222;
  --vapor-color-gray-900: #030303;
  --vapor-color-gray-050: #d5d5d5;
  --vapor-color-primary-100: #ffa1ff;
  --vapor-color-primary-200: #fe83ff;
  --vapor-color-primary-300: #d555d8;
  --vapor-color-primary-400: #c743ca;
  --vapor-color-primary-500: #a817ad;
  --vapor-color-primary-600: #84008a;
  --vapor-color-primary-700: #67006d;
  --vapor-color-primary-800: #41004a;
  --vapor-color-primary-900: #070015;
  --vapor-color-primary-050: #ffbfff;
  --vapor-color-neutral-100: #ffabab;
  --vapor-color-neutral-200: #ff8585;
  --vapor-color-neutral-300: #df6363;
  --vapor-color-neutral-400: #c95a5a;
  --vapor-color-neutral-500: #9d4646;
  --vapor-color-neutral-600: #773535;
  --vapor-color-neutral-700: #5b2929;
  --vapor-color-neutral-800: #391919;
  --vapor-color-neutral-900: #060202;
  --vapor-color-neutral-050: #ffc6c6;
  --vapor-color-background-primary-100: var(--vapor-color-primary-100);
  --vapor-color-background-primary-200: var(--vapor-color-primary-200);
  --vapor-color-border-primary: var(--vapor-color-primary-200);
  --vapor-color-border-normal: var(--vapor-color-neutral-100);
  --vapor-color-foreground-primary-100: var(--vapor-color-primary-300);
  --vapor-color-foreground-primary-200: var(--vapor-color-primary-400);
  --vapor-color-background-canvas-100: var(--vapor-color-canvas);
  --vapor-color-background-canvas-200: var(--vapor-color-neutral-050);
  --vapor-color-background-overlay-100: var(--vapor-color-canvas);
  --vapor-color-foreground-inverse: var(--vapor-color-black);
}

[data-vapor-theme="dark"] {
  --vapor-color-canvas: #391a1a;
  --vapor-color-red-100: #750000;
  --vapor-color-red-200: #950000;
  --vapor-color-red-300: #be1728;
  --vapor-color-red-400: #ce2b38;
  --vapor-color-red-500: #f14f5a;
  --vapor-color-red-600: #fd8283;
  --vapor-color-red-700: #ffa7a6;
  --vapor-color-red-800: #ffd2d0;
  --vapor-color-red-900: #fff8f8;
  --vapor-color-red-050: #590000;
  --vapor-color-pink-100: #710028;
  --vapor-color-pink-200: #910040;
  --vapor-color-pink-300: #b8195f;
  --vapor-color-pink-400: #c62f6b;
  --vapor-color-pink-500: #e65588;
  --vapor-color-pink-600: #f881a6;
  --vapor-color-pink-700: #fea5be;
  --vapor-color-pink-800: #ffd0dd;
  --vapor-color-pink-900: #fff8fa;
  --vapor-color-pink-050: #590018;
  --vapor-color-grape-100: #5e0079;
  --vapor-color-grape-200: #7a0097;
  --vapor-color-grape-300: #9d21b9;
  --vapor-color-grape-400: #aa34c6;
  --vapor-color-grape-500: #c859e5;
  --vapor-color-grape-600: #da87ef;
  --vapor-color-grape-700: #e5a9f5;
  --vapor-color-grape-800: #f2d2fb;
  --vapor-color-grape-900: #fdf8fe;
  --vapor-color-grape-050: #460060;
  --vapor-color-violet-100: #45009e;
  --vapor-color-violet-200: #5522b4;
  --vapor-color-violet-300: #6b42d2;
  --vapor-color-violet-400: #7750e0;
  --vapor-color-violet-500: #9672f5;
  --vapor-color-violet-600: #b994fa;
  --vapor-color-violet-700: #d3affe;
  --vapor-color-violet-800: #e8d5ff;
  --vapor-color-violet-900: #fbf8ff;
  --vapor-color-violet-050: #30007e;
  --vapor-color-blue-100: #002898;
  --vapor-color-blue-200: #003dad;
  --vapor-color-blue-300: #0e5acb;
  --vapor-color-blue-400: #1f67da;
  --vapor-color-blue-500: #368aed;
  --vapor-color-blue-600: #56acf9;
  --vapor-color-blue-700: #7bc6ff;
  --vapor-color-blue-800: #bce1ff;
  --vapor-color-blue-900: #f5faff;
  --vapor-color-blue-050: #001286;
  --vapor-color-cyan-100: #003b53;
  --vapor-color-cyan-200: #004e66;
  --vapor-color-cyan-300: #006983;
  --vapor-color-cyan-400: #007790;
  --vapor-color-cyan-500: #0e96b0;
  --vapor-color-cyan-600: #1db6cf;
  --vapor-color-cyan-700: #6fccdd;
  --vapor-color-cyan-800: #b8e4ee;
  --vapor-color-cyan-900: #f4fbfc;
  --vapor-color-cyan-050: #002b43;
  --vapor-color-green-100: #004023;
  --vapor-color-green-200: #005334;
  --vapor-color-green-300: #006e4d;
  --vapor-color-green-400: #007b5a;
  --vapor-color-green-500: #259a77;
  --vapor-color-green-600: #46ba93;
  --vapor-color-green-700: #5dd3aa;
  --vapor-color-green-800: #b0e8d1;
  --vapor-color-green-900: #f3fbf8;
  --vapor-color-green-050: #003016;
  --vapor-color-lime-100: #004000;
  --vapor-color-lime-200: #095400;
  --vapor-color-lime-300: #296e00;
  --vapor-color-lime-400: #377b00;
  --vapor-color-lime-500: #559a0b;
  --vapor-color-lime-600: #74b91c;
  --vapor-color-lime-700: #8dd226;
  --vapor-color-lime-800: #c2e89a;
  --vapor-color-lime-900: #f5fcef;
  --vapor-color-lime-050: #003100;
  --vapor-color-yellow-100: #5f2400;
  --vapor-color-yellow-200: #743700;
  --vapor-color-yellow-300: #8f5100;
  --vapor-color-yellow-400: #9d5d00;
  --vapor-color-yellow-500: #be7b00;
  --vapor-color-yellow-600: #dd9a00;
  --vapor-color-yellow-700: #f4b402;
  --vapor-color-yellow-800: #ffd782;
  --vapor-color-yellow-900: #fffaee;
  --vapor-color-yellow-050: #4f1400;
  --vapor-color-orange-100: #750000;
  --vapor-color-orange-200: #950000;
  --vapor-color-orange-300: #ba2500;
  --vapor-color-orange-400: #c83800;
  --vapor-color-orange-500: #e65f08;
  --vapor-color-orange-600: #f58a56;
  --vapor-color-orange-700: #fbac88;
  --vapor-color-orange-800: #ffd4c0;
  --vapor-color-orange-900: #fff9f5;
  --vapor-color-orange-050: #5b0000;
  --vapor-color-gray-100: #363636;
  --vapor-color-gray-200: #474747;
  --vapor-color-gray-300: #606060;
  --vapor-color-gray-400: #6c6c6c;
  --vapor-color-gray-500: #898989;
  --vapor-color-gray-600: #a7a7a7;
  --vapor-color-gray-700: #bebebe;
  --vapor-color-gray-800: #dcdcdc;
  --vapor-color-gray-900: #f9f9f9;
  --vapor-color-gray-050: #292929;
  --vapor-color-primary-100: #63006a;
  --vapor-color-primary-200: #810087;
  --vapor-color-primary-300: #a715ac;
  --vapor-color-primary-400: #b52bb9;
  --vapor-color-primary-500: #d453d7;
  --vapor-color-primary-600: #fe83ff;
  --vapor-color-primary-700: #ff9aff;
  --vapor-color-primary-800: #ffcdff;
  --vapor-color-primary-900: #fff8ff;
  --vapor-color-primary-050: #4b0053;
  --vapor-color-neutral-100: #582727;
  --vapor-color-neutral-200: #743434;
  --vapor-color-neutral-300: #9c4646;
  --vapor-color-neutral-400: #af4e4e;
  --vapor-color-neutral-500: #dc6363;
  --vapor-color-neutral-600: #ff8080;
  --vapor-color-neutral-700: #ffa7a7;
  --vapor-color-neutral-800: #ffd1d1;
  --vapor-color-neutral-900: #fff8f8;
  --vapor-color-neutral-050: #431e1e;
  --vapor-color-background-primary-100: var(--vapor-color-primary-050);
  --vapor-color-background-primary-200: var(--vapor-color-primary-600);
  --vapor-color-border-primary: var(--vapor-color-primary-600);
  --vapor-color-border-normal: var(--vapor-color-neutral-300);
  --vapor-color-foreground-primary-100: var(--vapor-color-primary-700);
  --vapor-color-foreground-primary-200: var(--vapor-color-primary-800);
  --vapor-color-background-canvas-100: var(--vapor-color-canvas);
  --vapor-color-background-canvas-200: var(--vapor-color-neutral-050);
  --vapor-color-background-overlay-100: var(--vapor-color-neutral-100);
  --vapor-color-foreground-inverse: var(--vapor-color-black);
}

:root,
[data-vapor-theme="light"] {
  --vapor-radius-factor: 0.5;
} */
